h1 { text-align: center }

.MenuBackground {
    background-color: #394046;
    background-position: center;
    background-size: cover;
  }

html { 
    background: url("IMG/sky.jpg") center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
