h1 { text-align: center;
     font-family: arial;
     font-size: 24px;
     font-weight: bold;
     color:black;
 }

 h2 { text-align: center;
  font-family: arial;
  font-size: 21px;
  font-weight: bold;
  color:black;
}

h3 { text-align: center;
  font-family: arial;
  font-size: 18px;
  font-weight: bold;
  color:white;
}

a {
  color:white;
}

.MenuBackground {
    background-color: #394046;
    background-position: center;
    background-size: cover;
  } 

html { 
    background: url("IMG/sky.jpg") center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
